{#
{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}

#}







{% extends '::base-authentification.html.twig' %}


{% block body %}
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="../index.html" class="logo"><span>Admin<span>to</span></span></a>
            <h5 class="text-muted m-t-0 font-600">Responsive Admin Dashboard</h5>
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Bienvenu</h4>
            </div>
            {% trans_default_domain 'FOSUserBundle' %}
            <div class="panel-body text-center">
                <img src="../assets/images/mail_confirm.png" alt="img" class="thumb-lg m-t-20 center-block" />
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </div>
        </div>



    </div>


{% endblock %}
