<!-- footer begin -->
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget widget_recent_post">
                        <h3>Liens utiles</h3>
                        <ul>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Nos activités</a></li>
                            <li><a href="#">Nos références</a></li>
                            <li><a href="#">Notre histoire</a></li>
                            <li><a href="#">Demander un devis</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                     <div class="widget widget_recent_post">
                        <h3>Activités récentes</h3>
                        <ul>
                            <li><a href="#">PROJET IMMOBILIER EVE - LA DJIBI 8E TRANCHE</a></li>
                            <li><a href="#">TRAVAUX DE DEVIATION DE RESEAU UNITAIRE DANS ...</a></li>
                            <li><a href="#">TRAVAUX D'AMENAGEMENT DU SITE DE L'USINE ...</a></li>
                            <li><a href="#">TRAVAUX D'HYDRAULIQUE URBAINE DANS LA ...</a></li>
                            <li><a href="#">POSE DE BUSES DANS LE CADRE DE LA ...</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- <img src="images/LOGO-ITA.png" class="logo-small" alt="" style="width:60%"><br> -->
                    <h3>Contacts</h3>
                    <div class="widget widget-address">
                        <address>
                            <span>Côte d'Ivoire, Abidjan - Cocody - Danga, 117 Rue Pitot</span>
                            <span><strong>Phone:</strong>+225 22 44 77 77</span>
                            <span><strong>Fax:</strong>+225 22 44 37 47</span>
                            <span><strong>Email:</strong><a href="mailto:info@itasarl.com">info@itasarl.com</a></span>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; Copyright 2018 - ITA - SARL                    
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</footer>
<!-- footer close -->
<a href="#" id="back-to-top"></a>
<div id="preloader">
    <div class="preloader1"></div>
</div> 