<!-- footer begin -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="images/logo.png" class="logo-small" alt=""><br>
            </div>

            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <h3>Latest News</h3>
                    <ul>
                        <li><a href="#">5 Things That Take a Room from Good to Great</a></li>
                        <li><a href="#">Functional and Stylish Wall-to-Wall Shelves</a></li>
                        <li><a href="#">9 Unique and Unusual Ways to Display Your TV</a></li>
                        <li><a href="#">The 5 Secrets to Pulling Off Simple, Minimal Design</a></li>
                        <li><a href="#">How to Make a Huge Impact With Multiples</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Contact Us</h3>
                <div class="widget widget-address">
                    <address>
                        <span>Collins Street West, Victoria 8007 Australia</span>
                        <span><strong>Phone:</strong>(208) 333 9296</span>
                        <span><strong>Fax:</strong>(208) 333 9298</span>
                        <span><strong>Email:</strong><a href="mailto:contact@buildpro.com">contact@buildpro.com</a></span>
                        <span><strong>Web:</strong><a href="#">http://buildpro-construction.com</a></span>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; Copyright 2016 - BuildPro by Designesia                     
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                        <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- footer close -->
<a href="#" id="back-to-top"></a>
<!-- <div id="preloader">
    <div class="preloader1"></div>
</div> -->